{% extends "biologs/base.html" %}

{% block header %}
<div class="jumbotron">
  <h2 class="display-3">Biolog, the combination of biography and logging.</h2>

  <p class="lead"> Hello and welcome to the <a href="{% url 'biologs:home' %}">biolog.com</a>, the best blog-tacking website. This very simple website is very concentrated on the actual bioposts from the biosers. Also see <a href="{% url 'biologs:terminology' %}">terminology</a> page for information about words.</p>

  <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}">
    Register &raquo;
  </a>

  <a class="btn btn-lg btn-secondary" href="{% url 'users:login' %}">
    Log in &raquo;
  </a>

</div>
{% endblock header %}

{% block content %}
  <ul class="list-group">
    <li class="list-group-item active">Key features:</li>
    <li class="list-group-item">Main feed with tons of cool bioposts</li>
    <li class="list-group-item">Create, view and manage your biolog with its bioposts!</li>
    <li class="list-group-item">Subscribe to different biologs to have fun.</li>
    <li class="list-group-item">You can like bioposts that are really nice for you.</li>
    <li class="list-group-item">Leaving comments to the posts.</li>
    <li class="list-group-item">Markdown post writting.</li>
  </ul>
{% endblock %}
